{% extends 'layout.html' %}
{% block title %} SSS {% endblock %}
{% block content %}
<section class="faq">
    <h1 class="heading" style="margin-top:70px;">    
        <span>s</span>
        <span>ı</span>
        <span>k</span>
        <br><br>
        <span>s</span>
        <span>o</span>
        <span>r</span>
        <span>u</span>
        <span>l</span>
        <span>a</span>
        <span>n</span>
        <br><br>
        <span>s</span>
        <span>o</span>
        <span>r</span>
        <span>u</span>
        <span>l</span>
        <span>a</span>
        <span>r</span>
    </h1>
    <div class="faq-content">
        <h2 class="faq-title">Dolabım kısmı nasıl kullanılır?</h2><br>
     <div> 
        <p>Websitemizdeki dolabım özelliğini kullanabilmeniz için öncelikle üye olup hesabınızla giriş yapmanız gerekmektedir,
             Ardından dolabım sekmesine giderek dolabınızda bulunan ürünleri eklemeniz gerekmektedir, Tüm aşamaları tamamladıktan sonra
             sitemiz size uygun olan tarifleri gösterecektir, Afiyet olsun!!!
        </p>
        <h2 class="faq-title">Tarifleri nasıl arayabilirim?</h2><br>
        <p>Ana sayfa üzerinde bulunan arama çubuğunu kullanarak istediğiniz tarifi arayabilirsiniz.</p>
        <h2 class="faq-title">Tarif eklemek için nasıl bir hesap oluşturabilirim?</h2><br>
        <p>Sitemizde tarfileri şuanlık sadece adminler ekleyebilmektedir ancak ilerleyen zamanlarda kullanıcılardan da tarif alma olayını düşünebiliriz.</p>
     </div>
   

</div>
</section>
{% endblock %} 