{% extends 'layout.html' %}
{% block title %}Günün Menüsü{% endblock %}
{% block content %}

<section class="todaysmenu" id="todaysmenu">
    <h1 class="heading">    
        <span>g</span>
        <span>ü</span>
        <span>n</span>
        <span>ü</span>
        <span>n</span>
        <br><br>
        <span>m</span>
        <span>e</span>
        <span>n</span>
        <span>ü</span>
        <span>s</span>
        <span>ü</span>
    </h1>
    <div class="mainContainer">
        <div class="row">
            <div class="block upper">
                <img src="../static/images/pank.webp" alt="pankek">
                <h1><span>Kahvaltılık:</span> Pankek</h1>
                <ul>
                    <li>2 adet yumurta</li>
                    <li>2 yemek kaşığı şeker</li>
                    <li>1 su bardağı süt</li>
                    <li>1,5 su bardağı un</li>
                    <li>1 paket kabartma tozu</li>
                    <li>1 paket vanilya</li>
                </ul>
                <p>Pankek için yumurta, şeker, süt, un, kabartma tozu, vanilyayı çırpalım. Hamur kek kıvamında olsun. 
                    Tava yağlayıp hamur dökerek çevirelim. Her iki tarafı da pişince servis yapalım. Afiyet olsun!</p>
            </div>
            <div class="block upper">
                <img src="../static/images/domatesçorbası.jpeg" alt="domates çorbası">
                <h1><span>Çorba:</span> Domates Çorbası</h1>
                <ul>
                    <li>4 adet olgun domates</li>
                    <li>2 çorba kaşığı tereyağı</li>
                    <li>3 çorba kaşığı un</li>
                    <li>1 litre sıcak su</li>
                    <li>1 su bardağı süt</li>
                </ul>
                <p>Domates çorbası için yağ ve un kavrulur. Domates eklenip birkaç dakika kavrulur. 
                    Bir litre su eklenip 15 dakika kaynatılır. Süt eklenip birkaç dakika daha kaynatılır, tuz ilave edilir. 
                    Arzuya göre üzerine kaşar peyniri rendesi eklenerek servise hazır. Afiyet olsun!</p>
            </div>
        </div>
        <div class="row">
            <div class="block middle">
                <img src="../static/images/koritavuk.jpg" alt="mantı">
                <h1><span>Ana Yemek:</span> Kremalı Mantarlı Körili Tavuk</h1>
                <ul>
                    <li>3 parça tavuk göğsü</li>
                    <li>1 adet soğan</li>
                    <li>2 yemek kaşığı kadar sıvı yağ</li>
                    <li>300-400g mantar</li>
                    <li>1 paket sıvı krema</li>
                    <li>1 tatlı kaşığı köri</li>
                    <li>Yarım çay kaşığı karabiber</li>
                    <li>1 çay kaşığı kekik</li>
                    <li>1 çay kaşığı tuz</li>
                    <li>1 yemek kaşığı parmesan peyniri (tercihe bağlı)</li>
                </ul>
                <p>Tavuk göğsünü küp küp doğrayın. Soğanı yemeklik doğrayın. Mantarları soyun, yıkayın ve ince doğrayın. 
                    Tavaya sıvı yağ ekleyip soğanları pembeleşene kadar kavurun. Tavukları ekleyip yüksek ateşte soteleyin. 
                    Tavuklar kavrulmaya başladığında mantarları ekleyin. Sıvı kremayı, köriyi, karabiberi, kekiği, tuzu ve isteğe 
                    bağlı olarak parmesan peynirini ekleyin. Birkaç dakika daha kısık ateşte pişirin, kıvam almasını sağlayın. 
                    Kremalı mantarlı körili tavuğunuz servise hazır. Afiyet olsun!</p>
            </div>
        </div>
        <div class="row">
            <div class="block lower">
                <img src="../static/images/sufle.jpg" alt="sufle">
                <h1><span>Tatlı:</span> Sufle</h1>
                <ul>
                    <li>3 tane yumurta</li>
                    <li>80g bitter çikolata</li>
                    <li>Yarım su bardağı un</li>
                    <li>50 g tereyağı</li>
                    <li>Yarım su bardağı şeker</li>
                    <li>1 çimdik tuz</li>
                </ul>
                <p>Fırını 220 derecede ısıtın. Tereyağını eritin, çikolatayı ekleyip una karıştırarak ekleyin. Yumurta, şeker, 
                    tuzu çırparak ekleyin. Çikolatalı hamuru yağlanmış sufle kaplarına paylaştırın. 7-8 dakika pişirin. 
                    Çıkarıp birkaç dakika bekleyip servis yapın. Afiyet olsun!</p>
            </div>
            <div class="block lower">
                <img src="../static/images/limonata.webp" alt="limonata">
                <h1><span>İçecek:</span> Limonata</h1>
                <ul>
                    <li>6 adet büyük iri limon</li>
                    <li>1 tane büyük portakal</li>
                    <li>1 su bardağı toz şeker</li>
                    <li>1 su bardağı sıcak su</li>
                    <li>5 su bardağı soğuk su</li>
                </ul>
                <p>Limon ve portakal kabuklarını rendeleyip şekerle karıştırın. Sıcak su ekleyip karıştırın, meyve suyunu ekleyip 
                    30 dakika bekletin. Soğuk suyu ekleyip karıştırın. Süzgeçle limonatayı ayrı bir sürahiye süzün. 
                    Buzdolabında 1-2 saat dinlendirip servis yapın. Afiyet olsun!</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}